<h1> comments#index </h1>

<% @items.each do |i| %>

	<%= i.title %>

	<%= form_for [i, @comment] do |f| %>

		<%= f.text_area :comment, placeholder: 'comment goes here' %>
		<%= f.submit %>

	<% end %>

<% end %>