<div class="modal fade" id="item-modal-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="label-{{item.id}}" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="label-{{item.id}}">{{item.title}}</h4>
        </div>
        <div class="modal-body">

            <!-- change to http://localhost:3000/users/{{item.user.id}} -->
            <strong>Posted by <a href="http://inlist.herokuapp.com/users/{{item.user.id}}">{{item.user.username}}</a></strong>
            <br>

            <div data-ng-repeat="itemTag in item.tags" class="tag">
                #{{itemTag.name}}
            </div>
            <br><br>

            <img data-ng-src="{{item.image}}" data-toggle="modal" data-target="#item-modal-{{item.id}}" class="item-image">

            <br><br>

            <a href="{{item.url}}" target="_blank">View Item</a>
            
            <br><br>
            {{item.description}}
            <br><br>

            <!-- <div data-ng-repeat="c in item.comments">
                {{c.user.name}}: {{c.comment}}
            </div> -->

        
        </div>
      </div>
    </div>
  </div>
