
<h1>InList</h1>
<p>Our tagline goes here.</p>

<!-- button for Signup Modal-->
<div id="wrap" class="text-center">
    <br>
    <button class="btn btn-default btn-outline" data-toggle="modal" data-target="#signup">Signup </button>
</div>



<!-- Button for Login Modal -->
<div id="wrap" class="text-center">
    <br>
    <button class="btn btn-default btn-outline" data-toggle="modal" data-target="#login">Log In</button>
</div>
