<h1> Collection </h1>

<% @items.each do |r| %>

<strong><%= r.title %> </strong> <br>

<%= link_to (image_tag r.image, width: "150", onerror:"this.src='https://s3.amazonaws.com/uploads.hipchat.com/39979/962225/5z3dS8JZ0smB7lh/Screen%20Shot%202014-08-29%20at%203.41.48%20PM.png'") %> <br>
>>>>>>> master

<% end %>

