<h1> Metainspector demo </h1>

<form class="form-search" method="GET" action="/items">
    <input type="url" name="url" class="input-medium search-query" required="" value="https://">
    <button type="submit" class="btn">Scrape</button>
 </form>
