<h1>new category</h1>

<%= form_for :category do |c| %>
<%= c.text_field :name, placeholder: 'name your category' %>

<%= c.submit 'make category', class: 'btn btn-default'%>
<% end %>

<br>

<h1>all Categories </h1>

<% @category.each do |c| %>
<%= c.name %> <br>
<% end %>

