<h1>Create Collection</h1>
<br>
<%= form_for @category do |f| %>
    <%= f.text_field :name, placeholder: "Collection Name", class: 'form-control' %>
    <br>
    <%= f.submit 'Add Collection', class: 'btn btn-default'%>
<% end %>